<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649626638654-1801j0dg2h6i5ibbqkabcse46ascrb48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649626638654-1801j0dg2h6i5ibbqkabcse46ascrb48</string>
	<key>API_KEY</key>
	<string>AIzaSyCxUdz43CbsLn8nC-f9X9eK5zPewx04ojw</string>
	<key>GCM_SENDER_ID</key>
	<string>649626638654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mwaibanda.MomentumiOS</string>
	<key>PROJECT_ID</key>
	<string>momentum-ministry</string>
	<key>STORAGE_BUCKET</key>
	<string>momentum-ministry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649626638654:ios:dbe920d37beddde0cab46f</string>
</dict>
</plist>